<div class="col-xs-12">
    <h2>Mes appareils</h2>
    <p>Mis à jour : {{ lastUpdate |  date: 'yMMMMEEEEd' | uppercase }}</p>
    <ul class="List-group">
      <app-appareil *ngFor ="let appareil of appareils; let i=index"
      [appareilIndexOf]="i"
      [appareilName]="appareil.name"
      [appareilStatus]="appareil.status"
      [id]="appareil.id"
      ></app-appareil>
      
    </ul>
    <button class="btn btn-success" (click)="OnAllumeTout()">Tout allumer</button>
    <button class="btn btn-danger" (click)="OnEteindreTout()">Tout éteindre</button>
    <button class="btn btn-primary" (click)="OnSave()">Enregistrer</button>
    <button class="btn btn-primary" (click)="OnFetch()">Charger</button>

</div>