
<nav class="navbar navbar=default">
  <div class="container-bluid">
    <ul class="nav navbar-nav"> 
      <li routerLinkActive="active"><a routerLink="appreils">appareils</a></li>
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"> <a routerLink="edit">Nouvelle appareil</a></li>
      <li routerLinkActive="active"><a routerLink="users">Utilisateurs</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="raw">
<router-outlet></router-outlet>  
</div>
</div>

